/* @import-normalize; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .Btnlist {
  list-style: none;
  display: flex;
  gap: 10px;
}

.btn-feedback {
  border-radius: 5px;
  background-color: white;
  border: 0.5px solid grey;
  font-weight: 600;
  padding: 5px;
  text-transform: capitalize;
  cursor: pointer;
} */
